@use "common.scss";

.Preparation {
}

.startPosition path {
  fill: var(--selected-background-color) !important;
}

.mapDistributions {
  @include common.grid(lg);
}

.mapDistributionSection {
  @include common.column;
}

.mapDistributionHexGrid {
  --hex-height: 1.5rem;
  align-self: center;
}
