@use "common.scss";

.Preparation {
}

.startPosition path {
  --icon-color: var(--selected-background-color);
}

.exploredLocation path {
  --icon-color: var(--selected-background-light-color);
}

.mapDistributions {
  @include common.grid(lg);
}

.mapDistributionSection {
  @include common.column;
}

.mapDistributionHexGrid {
  --hex-height: 1rem;
  align-self: center;
}
