@use "common.scss";

.Article {
  flex: 1 1 auto;
  @include common.row(lg);
  align-items: stretch;
  overflow: hidden;
}

.viewport {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.content {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.toc {
  overflow: auto;
}
