@use "common.scss";

.BuildingCard {
  @include common.panel;
  @include common.column;
  @include common.card;
  align-items: stretch;
}

.titleBar {
  @include common.titlebar;
  @include common.row(sm);
  @include common.padding(sm);
  flex: 0 0 23%;
}

.icon {
  height: 2.5em;
  width: auto;
  flex: 0 0 auto;
}

.taxonomy {
  @include common.column(0.5ch);
}

.title {
  font-family: var(--heading-font-family);
  font-size: 1.4em;
}

.types {
  @include common.row;
  font-weight: 300;
  font-size: 0.9em;
}

.type + .type:before {
  content: ", ";
}

.cost {
  @include common.padding(sm);
  background-color: var(--night-medium-background-color);
}

.capabilities {
  @include common.column;
  flex: 1 1 auto;
  align-items: stretch;
}
