@use "common.scss";

.Content {
  ul,
  ol {
    padding-left: var(--spacing-md);
  }
  li {
    margin-top: var(--spacing-xs);
  }
  table {
    border-collapse: collapse;
  }
  th,
  td {
    padding: var(--spacing-xs);
  }
  tr:nth-child(2n) {
    background-color: var(--even-row-background-color);
  }
  tr:nth-child(2n + 1) {
    background-color: var(--odd-row-background-color);
  }
  th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    &:not(:last-child) {
      padding-right: var(--spacing-md);
    }
  }
  thead th {
    border-bottom: var(--light-line);
  }
  td {
    vertical-align: top;
  }

  h1 {
    font-family: var(--heading-font-family);
    margin-bottom: var(--spacing-sm);
  }

  & > h1 {
    font-size: 3.5em;
    margin-top: var(--spacing-xxl);
  }

  section h1 {
    font-size: 2.5em;
    margin-top: var(--spacing-xl);
  }

  section section h1 {
    font-size: 2em;
    margin-top: var(--spacing-lg);
  }

  section section section h1 {
    font-size: 1.7em;
    margin-top: var(--spacing-md);
  }

  p {
    @include common.vertical-margin(sm);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  dt {
    @include common.row(xs);
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5ch;
  }

  dd {
    margin-left: 1.6em;
  }
}
