@import "/src/scss/common.scss";

.Content {
  ul {
    padding-left: var(--spacing-md);
  }
  li {
    margin-top: var(--spacing-xs);
  }
  table {
    border-collapse: collapse;
  }
  tr:not(:last-of-type) {
    th,
    td {
      padding-top: var(--spacing-xs);
    }
  }
  th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    &:not(:last-child) {
      padding-right: var(--spacing-xs);
    }
  }
  td {
    vertical-align: top;
  }

  h1 {
    font-family: var(--heading-font-family);
    margin-bottom: var(--spacing-sm);
  }

  & > h1 {
    font-size: 3.5em;
    margin-top: var(--spacing-xxl);
  }

  section > h1 {
    font-size: 2.5em;
    margin-top: var(--spacing-xl);
  }

  section > section > h1 {
    font-size: 2em;
    margin-top: var(--spacing-lg);
  }

  section > section > section > h1 {
    font-size: 1.7em;
    margin-top: var(--spacing-md);
  }

  p {
    @include vertical-margin(sm);
  }

  dt {
    @include row(xs);
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5ch;
  }

  dd {
    margin-left: 1.6em;
  }
}
