:root {
  // Spacing
  --spacing-xl: calc(var(--spacing-sm) * 4);
  --spacing-lg: calc(var(--spacing-sm) * 2);
  --spacing-md: calc(var(--spacing-sm) * 1.5);
  --spacing-sm: 1rem;
  --spacing-xs: calc(var(--spacing-sm) / 2);

  // Color palette
  $white: #fff;
  $mist: #eee;
  $pearl: #f1e9e1;
  $cream: #e0d1c2;
  $latte: #c0a78e;
  $toffee: #8a6948;
  $dull-gray: #b9b1b1;
  $black: #171717;
  $dull-red: #722d2d;
  $ashen-purple: #1e1214;
  $resin: #403235;
  $gold: rgb(197, 150, 30);
  $gold-night: rgb(245, 198, 79);
  $wood: rgb(117, 96, 89);
  $wood-night: rgb(166, 143, 135);
  $ore: rgb(111, 128, 132);
  $ore-night: rgb(185, 198, 200);
  $food: rgb(140, 137, 122);
  $growth: rgb(78, 95, 55);
  $growth-night: rgb(110, 128, 86);
  $effort: rgb(102, 71, 71);
  $strife: rgb(110, 32, 32);
  $curiosity: rgb(102, 71, 96);
  $resolve: rgb(45, 102, 138);
  $resolve-night: rgb(68, 124, 159);
  $population: rgb(203, 140, 98);
  $regal-purple: rgb(36, 31, 59);
  $soft-purple: rgb(102 102 105);

  // Color assignments
  --page-background-color: #{$white};
  --light-background-color: #{$mist};
  --text-color: #{$black};
  --night-text-color: #{$pearl};
  --night-background-color: #{$ashen-purple};
  --night-medium-background-color: #{$resin};
  --dull-text-color: #{$dull-gray};
  --night-dull-text-color: #{$dull-gray};
  --site-header-color: #{$ashen-purple};
  --section-heading-text-color: #{$toffee};
  --warning-color: #{$dull-red};
  --icon-color: #{$dull-gray};
  --night-icon-color: #{$dull-gray};
  --night-selected-icon-color: #{$cream};
  --night-hover-icon-color: #{$latte};
  --light-line-color: #{$cream};
  --subtle-separator-color: #{$dull-gray}30;
  --night-subtle-separator-color: #{$pearl}15;
  --indent-color: #{$cream};
  --night-unselected-text-color: #{$dull-gray};
  --night-selected-text-color: #{$pearl};
  --night-hover-text-color: #{$cream};
  --resource-color-gold: #{$gold};
  --night-resource-color-gold: #{$gold-night};
  --resource-color-wood: #{$wood};
  --night-resource-color-wood: #{$wood-night};
  --resource-color-ore: #{$ore};
  --night-resource-color-ore: #{$ore-night};
  --resource-color-food: #{$food};
  --night-resource-color-food: #{$food};
  --resource-color-growth: #{$growth};
  --night-resource-color-growth: #{$growth-night};
  --resource-color-effort: #{$effort};
  --night-resource-color-effort: #{$effort};
  --resource-color-strife: #{$strife};
  --night-resource-color-strife: #{$strife};
  --resource-color-curiosity: #{$curiosity};
  --night-resource-color-curiosity: #{$curiosity};
  --resource-color-resolve: #{$resolve};
  --night-resource-color-resolve: #{$resolve-night};
  --resource-color-population: #{$population};
  --night-resource-color-population: #{$population};
  --treat-background-color: #{$regal-purple};
  --treat-medium-background-color: #{$soft-purple};

  // Shadows & glow effects
  $shadow: 0 0 var(--spacing-sm) #{$black}88;
  --panel-shadow: #{$shadow};
  --icon-shadow: drop-shadow(#{$shadow});
  --text-shadow: #{$shadow};
  $glow: 0 0 var(--spacing-xs) #{$pearl}50;
  --icon-glow: drop-shadow(#{$glow});
  --text-glow: #{$glow};

  // Separators
  --subtle-line: 1px solid var(--subtle-separator-color);
  --night-subtle-line: 1px solid var(--night-subtle-separator-color);
  --indent: 3px solid var(--indent-color);
}

svg,
svg * {
  fill: var(--icon-color) !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--page-background-color);
  font-family: var(--regular-font-family), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
