:root {
  // Spacing
  --spacing-xxl: calc(var(--spacing-sm) * 4);
  --spacing-xl: calc(var(--spacing-sm) * 3);
  --spacing-lg: calc(var(--spacing-sm) * 2);
  --spacing-md: calc(var(--spacing-sm) * 1.5);
  --spacing-sm: 1rem;
  --spacing-xs: calc(var(--spacing-sm) / 2);

  // Color palette
  $palette-white: #ffffff;
  $palette-mist: #eee;
  $palette-pearl: #f1e9e1;
  $palette-cream: #e0d1c2;
  $palette-latte: #c0a78e;
  $palette-toffee: #8a6948;
  $palette-dull-gray: #b9b1b1;
  $palette-medium-gray: #797474;
  $palette-medium-dark-gray: #403d3d;
  $palette-dark-gray: #2e2c2c;
  $palette-black: #171717;
  $palette-dull-red: #722d2d;
  $palette-ashen-purple: #1e1214;
  $palette-resin: #403235;
  $palette-gold: rgb(197, 150, 30);
  $palette-gold-night: rgb(245, 198, 79);
  $palette-wood: rgb(117, 96, 89);
  $palette-wood-night: rgb(166, 143, 135);
  $palette-stone: rgb(111, 128, 132);
  $palette-stone-night: rgb(185, 198, 200);
  $palette-food: rgb(140, 137, 122);
  $palette-green: rgb(78, 95, 55);
  $palette-green-night: rgb(110, 128, 86);
  $palette-brown: rgb(102, 71, 71);
  $palette-brown-night: rgb(129 109 109);
  $palette-red: rgb(110, 32, 32);
  $palette-red-night: rgb(169 93 93);
  $palette-dull-pink: rgb(166, 100, 100);
  $palette-lilac: rgb(102, 71, 96);
  $palette-lilac-night: rgb(171 141 165);
  $palette-blue: rgb(45, 102, 138);
  $palette-blue-night: rgb(68, 124, 159);
  $palette-flesh: rgb(203, 140, 98);
  $palette-regal-purple: rgb(36, 31, 59);
  $palette-soft-purple: rgb(102 102 105);
  $palette-turquoise: #32716c;

  // Color assignments
  --page-background-color: #{$palette-white};
  --light-background-color: #{$palette-mist};
  --text-color: #{$palette-black};
  --night-text-color: #{$palette-pearl};
  --night-background-color: #{$palette-ashen-purple};
  --night-medium-background-color: #{$palette-resin};
  --dull-text-color: #{$palette-dull-gray};
  --night-dull-text-color: #{$palette-dull-gray};
  --site-header-color: #{$palette-ashen-purple};
  --section-heading-text-color: #{$palette-toffee};
  --reference-text-color: #{$palette-toffee};
  --warning-color: #{$palette-dull-red};
  --selected-background-light-color: #{$palette-pearl};
  --selected-background-color: #{$palette-cream};
  --icon-color: #{$palette-dull-gray};
  --night-icon-color: #{$palette-dull-gray};
  --night-selected-icon-color: #{$palette-cream};
  --night-hover-icon-color: #{$palette-latte};
  --night-overlay-color: #{$palette-white}aa;
  --light-line-color: #{$palette-cream};
  --subtle-separator-color: #{$palette-dull-gray}30;
  --night-subtle-separator-color: #{$palette-pearl}15;
  --indent-color: #{$palette-cream};
  --night-unselected-text-color: #{$palette-dull-gray};
  --night-selected-text-color: #{$palette-pearl};
  --night-hover-text-color: #{$palette-cream};
  --resource-color-gold: #{$palette-gold};
  --night-resource-color-gold: #{$palette-gold-night};
  --resource-color-wood: #{$palette-wood};
  --night-resource-color-wood: #{$palette-wood-night};
  --resource-color-ore: #{$palette-stone};
  --night-resource-color-ore: #{$palette-stone-night};
  --resource-color-food: #{$palette-food};
  --night-resource-color-food: #{$palette-food};
  --resource-color-growth: #{$palette-green};
  --night-resource-color-growth: #{$palette-green-night};
  --resource-color-effort: #{$palette-brown};
  --night-resource-color-effort: #{$palette-brown-night};
  --resource-color-strife: #{$palette-red};
  --night-resource-color-strife: #{$palette-red-night};
  --resource-color-curiosity: #{$palette-lilac};
  --night-resource-color-curiosity: #{$palette-lilac-night};
  --resource-color-resolve: #{$palette-blue};
  --night-resource-color-resolve: #{$palette-blue-night};
  --resource-color-population: #{$palette-flesh};
  --night-resource-color-population: #{$palette-flesh};
  --resource-color-warDevotion: #{$palette-turquoise};
  --night-resource-color-warDevotion: #{$palette-turquoise};
  --resource-color-fertilityDevotion: #{$palette-turquoise};
  --night-resource-color-fertilityDevotion: #{$palette-turquoise};
  --resource-color-inspirationDevotion: #{$palette-turquoise};
  --night-resource-color-inspirationDevotion: #{$palette-turquoise};
  --resource-color-justiceDevotion: #{$palette-turquoise};
  --night-resource-color-justiceDevotion: #{$palette-turquoise};
  --resource-color-darknessDevotion: #{$palette-turquoise};
  --night-resource-color-darknessDevotion: #{$palette-turquoise};
  --standard-trait-background-color: #{$palette-dark-gray};
  --standard-medium-background-color: #{$palette-medium-dark-gray};
  --advantage-background-color: #{$palette-green};
  --advantage-medium-background-color: #{$palette-green-night};
  --disadvantage-background-color: #{$palette-red};
  --disadvantage-medium-background-color: #{$palette-dull-pink};
  --archetype-trait-background-color: #{$palette-regal-purple};
  --archetype-trait-medium-background-color: #{$palette-soft-purple};
  --boon-background-color: #{$palette-dark-gray};
  --boon-medium-background-color: #{$palette-medium-gray};
  --even-row-background-color: #{$palette-mist};
  --odd-row-background-color: #{$palette-white};
  --example-background-color: #{$palette-pearl};
  --example-text-color: var(--text-color);
  --example-icon-color: #{$palette-latte};
  --example-border-color: #{$palette-cream};

  // Shadows & glow effects
  $shadow: 0 0 var(--spacing-sm) #{$palette-black}88;
  --panel-shadow: #{$shadow};
  --icon-shadow: drop-shadow(#{$shadow});
  --text-shadow: #{$shadow};
  --block-shadow: 0 0 var(--spacing-sm) #{$palette-dull-gray}88;
  $glow: 0 0 var(--spacing-xs) #{$palette-pearl}50;
  --icon-glow: drop-shadow(#{$glow});
  --text-glow: #{$glow};

  // Separators
  --subtle-line: 1px solid var(--subtle-separator-color);
  --night-subtle-line: 1px solid var(--night-subtle-separator-color);
  --light-line: 1px solid var(--light-line-color);
  --indent: 3px solid var(--indent-color);
  --thick-separator: 3px solid #{$palette-pearl};
}

svg,
svg * {
  fill: var(--icon-color) !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--page-background-color);
  font-family: var(--regular-font-family), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
