@use "common.scss";

.header {
  @include common.row;
  background-color: var(--site-header-color);
  color: var(--night-text-color);

  @media print {
    display: none;
  }
}

.heading {
  @include common.padding(md);
  font-family: var(--logo-font-family);
  font-size: 2.2rem;
  text-shadow: var(--text-shadow);

  span:nth-of-type(2) {
    color: var(--night-dull-text-color);
  }
}

.main {
  @include common.padding(md);
}
