@use "common.scss";

.TraitCard {
  @include common.panel;
  @include common.column;
  @include common.card;
  align-items: stretch;
  --titlebar-color: var(--archetype-trait-background-color);
  --level-background-color: var(--archetype-trait-medium-background-color);

  &[data-category="standard"] {
    --titlebar-color: var(--standard-trait-background-color);
  }

  &[data-category="advantages"] {
    --titlebar-color: var(--advantage-background-color);
    --level-background-color: var(--advantage-medium-background-color);
  }

  &[data-category="disadvantages"] {
    --titlebar-color: var(--disadvantage-background-color);
    --level-background-color: var(--disadvantage-medium-background-color);
  }
}

.titleBar {
  @include common.titlebar;
  @include common.row(sm);
  @include common.padding(sm);
  background-color: var(--titlebar-color);
  flex: 0 0 18%;
}

.classifiers {
  @include common.row(0.5ch);
}

.categoryIcon {
  height: auto;
  width: 3em;
  flex: 0 0 auto;
  --icon-color: var(--night-overlay-color);
}

.level {
  --size: 1.2em;
  position: relative;
  text-align: center;
  width: var(--size);

  .levelLabel {
    position: relative;
    font-family: var(--heading-font-family);
    font-size: 1.2em;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    left: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);
    height: var(--size);
    width: var(--size);
    transform: rotate(45deg);
    background-color: var(--level-background-color);
    z-index: 1;
    box-shadow: var(--icon-shadow);
  }
}

.title {
  flex: 1 1 auto;
  font-family: var(--heading-font-family);
  font-size: 1.4em;
}

.capabilities {
  @include common.column;
  flex: 1 1 auto;
  align-items: stretch;
}
