@use "common.scss";

.TraitCard {
  @include common.panel;
  @include common.column;
  @include common.card;
  align-items: stretch;
  --titlebar-color: var(--archetype-trait-background-color);
  --level-background-color: var(--archetype-trait-medium-background-color);
  --level-size: 1.5em;

  &[data-category="standard"] {
    --titlebar-color: var(--standard-trait-background-color);
  }

  &[data-category="advantages"] {
    --titlebar-color: var(--advantage-background-color);
    --level-background-color: var(--advantage-medium-background-color);
  }

  &[data-category="disadvantages"] {
    --titlebar-color: var(--disadvantage-background-color);
    --level-background-color: var(--disadvantage-medium-background-color);
  }

  &[data-id="basic-capabilities"] {
    @include common.landscape-tarot-card;
  }
}

.titleBar {
  position: relative;
  @include common.titlebar;
  @include common.row(xs);
  @include common.padding(sm);
  background-color: var(--titlebar-color);
  flex: 0 0 21%;
  margin-bottom: calc(var(--level-size) / 2);
}

.classifiers {
  @include common.row(0.5ch);
}

.categoryIcon {
  height: auto;
  width: 2em;
  flex: 0 0 auto;
  --icon-color: var(--night-overlay-color);
}

.level {
  position: absolute;
  text-align: center;
  height: var(--level-size);
  width: var(--level-size);
  left: calc(50% - var(--level-size) / 2);
  bottom: calc(var(--level-size) / -2);

  .levelLabel {
    position: relative;
    font-family: var(--heading-font-family);
    font-size: 1.2em;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    left: calc(50% - var(--level-size) / 2);
    top: calc(50% - var(--level-size) / 2);
    height: var(--level-size);
    width: var(--level-size);
    transform: rotate(45deg);
    background-color: var(--level-background-color);
    z-index: 1;
    box-shadow: var(--icon-shadow);
  }
}

.title {
  flex: 1 1 auto;
  font-family: var(--heading-font-family);
  font-size: 1.1em;
}

.capabilities {
  @include common.column;
  flex: 1 1 auto;
  align-items: stretch;
}
