@import "/src/scss/common.scss";

.CapabilityDisplay {
  @include row(1ch);
  align-items: flex-start;
  background-color: var(--page-background-color);

  &[data-type="Limitation"] {
    font-style: italic;
  }
}

.buildingEnhancementCapabilities {
  border-left: var(--indent);
}

.cost {
  flex: 0 0 12%;
}

.convertIcon {
  flex: 0 0 auto;
  width: auto;
  height: 1.2em;
}
