@use "common.scss";

.CapabilityDisplay {
  &[data-type="Limitation"] {
    font-style: italic;
  }
}

.buildingEnhancementCapabilities {
  border-left: var(--indent);
}

.moment {
  font-weight: bold;
  color: var(--section-heading-text-color);

  &::after {
    content: ": ";
  }
}

.actionPreface {
  white-space: nowrap;
}

.actionIcon,
.convertIcon {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.actionIcon {
  position: relative;
  top: -0.1em;
  margin-right: 0.5ch;
  height: 1.2em;
}

.convertIcon {
  @include common.horizontal-margin(0.5ch);
  height: 0.7em;
}

.content {
  display: inline;

  & > p:first-of-type {
    display: inline;
  }

  table {
    width: 100%;
    table-layout: fixed;

    th {
      width: 20%;
    }

    th,
    td {
      padding: 1ch;
    }
  }
}
