@import "/src/scss/common.scss";

.CapabilityDisplay {
  @include row(xs);
  @include padding(sm);
  align-items: flex-start;
  background-color: var(--page-background-color);

  & + & {
    border-top: 1px dashed var(--light-line-color);
  }
}

.capabilityTypeIcon {
  flex: 0 0 auto;
  width: 1.3em;
  height: auto;
}

.details {
  flex: 1 1 auto;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: var(--spacing-xs);
}

.cost {
  flex: 0 0 1.5rem;
}

.effect {
  @include row(1ch);
}

.convertIcon {
  flex: 0 0 auto;
  width: auto;
  height: 1.5em;
}
