@use "common.scss";

.BuildingsSheet {
  --gap: 0.3rem;
  column-count: 4;
  column-gap: var(--gap);
}

.BuildingsSheetEntry {
  break-inside: avoid;
  border: 1px solid var(--night-background-color);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: var(--gap);

  .buildingHeader {
    @include common.titlebar;
    @include common.row(xs);
    padding: 0.5rem;
  }

  .buildingIcon {
    height: 2rem;
    width: auto;
    flex-shrink: 0;
  }

  .buildingTitle {
    white-space: nowrap;
    font-family: var(--heading-font-family);
    font-size: 0.9em;
  }

  .buildingTypes {
    @include common.row;
    white-space: nowrap;
    font-size: 0.7em;
    font-weight: 300;
    margin-top: 0.25ch;

    & > * + *:before {
      content: ", ";
    }
  }

  .buildingCost {
    padding: 0.5rem;
    font-size: 0.8em;
    background-color: var(--night-medium-background-color);
    &:empty {
      display: none;
    }
  }

  .buildingCapabilities {
    border-top: var(--subtle-line);
    font-size: 0.8em;
    margin: 0;
    padding: 0.5rem;
  }
}
