@import "/src/scss/common.scss";

.TraitCardGrid {
  @include column(xl);
}

.archetypeTitle {
  font-family: var(--heading-font-family);
  font-size: 2rem;
}

.level {
  margin-top: var(--spacing-lg);
}

.levelTitle {
  margin-bottom: var(--spacing-sm);
  font-family: var(--heading-font-family);
  font-size: 1.7rem;
}

.traits {
  @include grid(md);
}
