@use "common.scss";

.AreaCard {
  @include common.panel;
  @include common.column;
  @include common.card;
  align-items: stretch;
}

.titleBar {
  @include common.titlebar;
  @include common.column(0.5ch);
  @include common.padding(sm);
  flex: 0 0 18%;
  background-color: var(--area-terrain-background-color);
}

.title {
  font-family: var(--heading-font-family);
  font-size: 1.3em;
}

.type {
  @include common.row;
  font-weight: 300;
  font-size: 0.9em;
}

.type + .type:before {
  content: ", ";
}

.terrainChoices {
  @include common.row;
  @include common.padding(xs);
  background-color: var(--area-terrain-choices-background-color);
}

.terrainChoice {
  @include common.row;

  & + &::before {
    content: "";
    display: block;
    border-left: var(--clear-line);
    height: 1.5cap;
    @include common.horizontal-margin(xs);
  }
}

.terrainIcon {
  font-size: 1.1em;
}

.feature {
  @include common.column;
  @include common.vertical-padding(1ch);
  flex: 1;
  background-color: var(--page-background-color);
  --icon-color: var(--feature-icon-color);
}

.featureIcon {
  align-self: center;
  height: 2.6em;
  width: auto;
  flex: 0 0 auto;
  @include common.vertical-margin(0.5ch);
}

.featureCapabilities {
  @include common.column;
  flex: 1 1 auto;
  align-items: stretch;
}
