@use "common.scss";

.ResourceSetDisplay {
  &[data-arrangement="column"] {
    @include common.column(0.5ch);

    .resource {
      @include common.row(0.5ch);
      align-items: center;
    }
  }

  &[data-arrangement="row"] {
    @include common.row(sm);

    .resource {
      @include common.column;
      align-items: center;
    }

    .amount {
      order: 1;
    }

    .icon {
      order: 2;
    }
  }

  &[data-background="day"] .resource {
    @include common.resource-color-code(--icon-color);
  }

  &[data-background="night"] .resource {
    @include common.night-resource-color-code(--icon-color);
  }
}

.amount {
  font-weight: bold;
}

.noneIcon,
.variableIcon,
.icon {
  height: 2.2ch;
  width: auto;
}
