@use "common.scss";

.ResourceSetDisplay {
  &[data-arrangement="column"] {
    @include common.column(0.5ch);
    align-items: center;

    .resource {
      @include common.row(0.5ch);
      align-items: center;
    }
  }

  &[data-arrangement="row"] {
    @include common.row(sm);

    .resource {
      @include common.row(1ch);
    }
  }

  &[data-arrangement="multi-column"] {
    @include common.row(sm);

    .resource {
      @include common.column;
      align-items: center;
    }

    .amount {
      order: 1;
    }

    .icon {
      order: 2;
    }
  }

  &[data-arrangement="inline"] {
    display: inline-flex;
    gap: 1ch;
    flex-wrap: wrap;

    .resource {
      display: inline-flex;
      gap: 0.5ch;
      white-space: nowrap;
    }

    .icon {
      align-self: center;
    }

    .amount {
      align-self: baseline;
    }
  }

  &[data-background="day"] .resource {
    @include common.resource-color-code(--icon-color);
  }

  &[data-background="night"] .resource {
    @include common.night-resource-color-code(--icon-color);
    color: var(--night-text-color);
  }
}

.amount {
  font-weight: bold;
}

.noneIcon,
.variableIcon,
.icon {
  height: 2.2ch;
  width: auto;
}
