@import "/src/scss/common.scss";

.ResourceSetDisplay {
  &[data-arrangement="column"] {
    @include column(0.5ch);

    .resource {
      @include row(0.5ch);
      align-items: center;
    }
  }

  &[data-arrangement="row"] {
    @include row(sm);

    .resource {
      @include column;
      align-items: center;
    }

    .amount {
      order: 1;
    }

    .icon {
      order: 2;
    }
  }
}

.resource {
  @include night-resource-color-code(--icon-color);
}

.amount {
  font-weight: bold;
}

.noneIcon,
.variableIcon,
.icon {
  height: 2.2ch;
  width: auto;
}
