@use "common.scss";

.HexMap {
  --hex-height: 5rem;
  --building-size: 1.5em;
  --building-color: white;
  --label-size: 1rem;
}

.territory {
  @include common.column;
  @include common.player-color-code(--building-color);
  align-items: center;
  justify-content: space-between;
  @include common.vertical-padding(0.75rem);

  @each $territory in (grassland, forest, mountain, sea, wasteland) {
    &[data-type="#{$territory}"] {
      --territory-color: var(--resource-color-#{$territory}Hex);
    }
  }
}

.territoryContour {
  --icon-color: var(--territory-color, var(--light-color));
}

.label {
  position: absolute;
  right: 10%;
  top: 40%;
  z-index: 1;
  background-color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--label-size);
  height: var(--label-size);
  color: white;
  font-size: 80%;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.terrainIcon {
  position: relative;
  z-index: 1;
  height: 1rem;
  width: auto;
  --icon-color: rgba(255, 255, 255, 0.7);
}

.buildings {
  @include common.row;
}

.building {
  position: relative;
  z-index: 2;
  background-color: var(--building-color);
  border-radius: 25%;
  display: flex;
  height: var(--building-size);
  width: var(--building-size);
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.buildingIcon {
  height: 90%;
  width: auto;
  filter: var(--icon-shadow);
  --icon-color: white;
}
