@use "common.scss";

.HexMap {
  --hex-height: 5rem;
  --building-size: 1.5em;
  --building-color: white;
}

.territory {
  @include common.column;
  align-items: center;
  justify-content: space-between;
  @include common.vertical-padding(0.75rem);

  @each $territory in (grassland, forest, mountain, sea, wasteland) {
    &[data-type="#{$territory}"] {
      --territory-color: var(--resource-color-#{$territory}Hex);
    }
  }

  @each $player in (1, 2, 3, 4) {
    &[data-owner="#{$player}"] {
      --building-color: var(--player-color-#{$player});
    }
  }
}

.territoryContour {
  --icon-color: var(--territory-color, var(--light-color));
}

.terrainIcon {
  position: relative;
  z-index: 1;
  height: 1rem;
  width: auto;
  --icon-color: rgba(255, 255, 255, 0.7);
}

.buildings {
  @include common.row;
}

.building {
  position: relative;
  z-index: 2;
  background-color: var(--building-color);
  border-radius: 25%;
  display: flex;
  height: var(--building-size);
  width: var(--building-size);
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.buildingIcon {
  height: 90%;
  width: auto;
  filter: var(--icon-shadow);
  --icon-color: white;
}
