@use "common.scss";

.Reference {
  display: inline;
  white-space: nowrap;
}

.icon {
  position: relative;
  top: 0.5ch;
  height: 2.5ch;
  width: auto;
  margin-right: 0.2ch;
}

.title {
  font-weight: bold;
  color: var(--reference-text-color);
}
