@use "common.scss";

.ItemIcon {
  @include common.resource-color-code(--icon-color);
  display: inline-block;
  height: 2.2ch;
  width: auto;
  vertical-align: text-top;

  & + & {
    margin-left: 0.5ch;
  }
}
